* {
    background-color: aquamarine;
}

.header{
    max-width: 100%;
    margin: 0 auto 30px auto;
    position: relative;
}

.Home__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.PaletaLista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 50px;
  }

.PaletaListaItem {
    font-family: 'Exo';
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: center;
}

.PaletaCardItem {
    margin: 20px 0;
    height: 150px;
    width: auto;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 35px 0;
}

.paleta-escolhida-espaco {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    background-color: #00000050;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 000000;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.card-modal{
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    background-color: aliceblue;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 1rem;
}

.modal-body{
    padding: 5rem 1rem;
}

.modal-body div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body div input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px black;
    margin-bottom: 2rem;
}

.button-modal-create {
    display: flex;
    align-items: center;
    justify-content: center;
}
